@page "/"
<div class="form-group">
    <label for="uriTextArea">Paste URLS here</label>
    <textarea class="form-control" id="uriTextArea" rows="10" oninput="@OnUriTextAreaInput"></textarea>
</div>

@functions
{
    private void OnUriTextAreaInput()
    {

    }
}